
a{
    color: aliceblue;
    text-decoration: underline dotted cornflowerblue;
}

#pr_button{

    float: left;
    padding:10px 16px;
    background-color: cadetblue;
    display: block;
}

 .SP_link,  #spes_link, #spes_link0,  #spes_link1,  #spes_link2,  #spes_link3,  #spes_link4{
   color: blue
 }

html, body {

    background: url("greenBG.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: aliceblue
}

.container_p{
    color: white;
    margin: 0;

    text-align: center;
    font-family: calibri, sans-serif;
    font-size: 20px;
    background-color: darkcyan
}

.container0{

    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    font-size: larger;
    color: white;
}


.user-to-me-form{
  background-color: darkcyan;

}


#form_fields_name{

  width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgreen;
    border-radius: 4px;
  }
#form_fields_title{
  width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkblue;
    border-radius: 4px;

}

#message_field{

  width: 80%;
 height: 150px;
 padding: 12px 20px;
 box-sizing: border-box;
 border: 2px solid #ccc;
 border-radius: 4px;
 background-color: #f8f8f8;
 font-size: 16px;
 resize: none;
}

.send-btn{
  color: green;
  border-width: 0.2vw;
  border-color: darkgoldenrod;
  border-radius: 20px;
  text-decoration-color: dashed;
  font-size: 1.5vw;
  font-weight: bolder;

}

.text-container{
  border-style: dashed;
  border-radius: 0.7vw;
  border-width:medium;
  background-color: #2874A6;
  border-color: aliceblue;
  padding: 1.5vw;

}
nav a:link{
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: green;
}

.project{
    color: white;
    margin-top: 30px;
    font-weight: 800;
    display: inline-block;

    float: left;
    padding:10px 16px;
    background-color: cadetblue;
    display: block;
}

/*
.project0{
    color: blue;
    margin-top: 30px;
    font-weight: 800;
    display: inline-block;

    float: left;
    padding:10px 16px;
    background-color: cadetblue;
    display: block;
}
*/


nav{
    text-align: center;
}


.container0 em {
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
      width: 100%
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
      width: 100%
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
      width: 100%
  }
}

/* Dop down for skills menu in about page */
.dropbtn-skills {
  background-color: darkblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-skills {
  position: relative;
  display: inline-block;
}

.dropdown-content-skills {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-skills a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-skills a:hover {background-color: #f1f1f1}

.dropdown-skills:hover .dropdown-content-skills {
  display: block;
}

.dropdown-skills:hover .dropbtn-skills {
  background-color: #3e8e41;
}







/* Dop down for pictures menu in about page */
.dropbtn-pic {
  background-color: darkgoldenrod;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-pic {
  position: relative;
  display: inline-block;
}

.dropdown-content-pic{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-pic span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-pic a:hover {background-color: #f1f1f1}

.dropdown-pic:hover .dropdown-content-pic {
  display: block;
}

.dropdown-pic:hover .dropbtn-pic {
  background-color: #3e8e41;
}





/* Elviras credit style*/
.el-credit{
    font-size: 11px
}






/*Drop down for picture2 in Pictures menu*/
.dropdownpicture2 {
  position: relative;
  display: block;

}


.dropdownpicture2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;


}

.dropdownpicture2:hover .dropdownpicture2-content {
  display: block;
    border-radius: 1vw;
    margin-left: 9vw;
    margin-right: 10vw;
    margin-top: -15vw

}

.descpicture2 {
  padding: 15px;
  text-align: center;
    color: black
}

.descpicture2 a{
  text-align: center;
    color: black
}
