{% extends "layout.html" %}
{% block con %}

    <nav>
        <h1>About Page</h1>
        <a href="{{url_for('projects')}}">Projects</a>
        <a href="{{url_for('home')}}">Home</a>
    </nav>

    <div class="container_p">
        <h4>Hello, i am Kenny </h4>
        <p>I am currently learning the computer language: <a target="_blank" href="https://www.python.org"><b>Python</b></a>
            <br>I'd have mastered all the beginner stuff of python and i think i can pretty much call myself a Junior Developer
        </p>
        <p>If you want you can challenge me on <a target="_blank" href="https://www.sololearn.com/Profile/14408475/Python">SoloLearn</a>.
            <br>I'd like a challenge
        </p>
        <p>To contact me, go to my <a target="_blank" href="https://discord.gg/CUdNqWT"><b>Discord</b></a>  server.
            <br>Subscribe to me on <a target="_blank" href="https://www.youtube.com/channel/UCQKw6eMvGcsKiCQ02eGXl3g?view_as=subscriber">Youtube</a> and if you want to play Game with me, just join my <a target="_blank" href="https://discord.gg/CUdNqWT">Discord</a>
        </p>
    </div>
    <div class="container0">
        <p>
            I will add more content in the future<br>
            .......
        </p>
    </div>

{% endblock con %}
