{% extends "layout.html" %}
{% block con %}

    <h1>About Page</h1>
    <nav class="topnav" id="myTopnav">

        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}" class="active">About</a>
        <a href="{{url_for('projects')}}">Projects</a>
        <a href="{{url_for('contact')}}">Contact Me</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i></a>

    </nav>
    <div class="container_p">
        <h4>Hello, i am Kenny </h4>
        <p>I am currently learning the computer language: <a class="SP_link"  target="_blank" href="https://www.python.org"><b>Python</b></a>
            <br>I have been programming in Python since March 2019 and i've mastered all the beginner stuff of python and i think i can pretty much call myself a Junior Developer
        </p>
        <p>If you want you can challenge me on <a class="SP_link"  target="_blank" href="https://www.sololearn.com/Profile/14408475/Python">SoloLearn</a>.
            <br>I'd like a challenge
        </p>
        <p>To contact me, go to my <a class="SP_link"  target="_blank" href="https://discord.gg/CUdNqWT"><b>Discord</b></a>  server. Or to my contact page
            <br>Subscribe to me on <a class="SP_link"  target="_blank" href="https://www.youtube.com/channel/UCQKw6eMvGcsKiCQ02eGXl3g?view_as=subscriber">Youtube</a> and if you want to play video games with me, just join my <a class="SP_link"  target="_blank" href="https://discord.gg/CUdNqWT">Discord</a>
        </p>
    </div>

    <div class="dropdown-skills">
      <button class="dropbtn-skills">Skills</button>
      <div class="dropdown-content-skills">
          <a href="#">Python</a>
          <a href="#">HTML</a>
          <a href="#">CSS</a>
      </div>
    </div>

    <div class="dropdown-pic">
      <button class="dropbtn-pic">Pictures</button>
      <div class="dropdown-content-pic">

          <!--Waterval photo-->
           <div class="dropdownpicture2">
              <span>waterfall</span>
              <div class="dropdownpicture2-content">
                  <img src="static\css\elviras_vallen0.jpg" alt="A photo of a little waterfall between rocks" width="400" height="300">
                  <div class="descpicture2">raleighvallen in <a target="_blank" href="https://en.wikipedia.org/wiki/Suriname" id="spes_link" >Suriname</a> rain forest <br><sub class="el-credit">photo made by <a target="_blank" href="https://www.instagram.com/bethgreen8/" id="spes_link0" >bethgreen8</a></sub></div>
              </div>
            </div>

          <!--Cactus photo0-->
           <div class="dropdownpicture2">
              <span>plant</span>
              <div class="dropdownpicture2-content">
                  <img src="static\css\elviras_cactus0.jpg" alt="A common cactus" width="400" height="300">
                  <div class="descpicture2"> Photo of a Melocactus azureus on the <a id="spes_link1"  target="_blank" href="https://www.google.com/maps/place/Voltz+Berg/@4.6772515,-56.1970616,13.7z/data=!4m5!3m4!1s0x8da05371031ba9cf:0xf908a9013ef43636!8m2!3d4.6833333!4d-56.1666667">Voltz berg</a> <br> <em>This also is near raleigh vallen</em><br><sub class="el-credit"> photo made by <a id="spes_link2"  target="_blank" href="https://www.instagram.com/bethgreen8/">bethgreen8</a></sub></div>
              </div>
          </div>

          <!--Cactus photo1-->
          <div class="dropdownpicture2">
              <span>plant</span>
              <div class="dropdownpicture2-content">
                  <img src="static\css\elviras_cactus1.jpg" alt="" width="400" height="300">
                  <div class="descpicture2">Photo of a cactus<br><em>-Name is unknown at the moment</em><br><sub class="el-credit">photo made by <a id="spes_link3"  target="_blank" href="https://www.instagram.com/bethgreen8/">bethgreen8</a></sub></div>
              </div>
            </div>
          <!--Water\plant foto0-->
          <div class="dropdownpicture2">
              <span>plant/water</span>
              <div class="dropdownpicture2-content">
                  <img src="static\css\elviras_water_green0.jpg" alt="" width="400" height="300">
                  <div class="descpicture2">Photo of a plant underwater <br><em>-Name is unknown at the moment</em> <br><sub class="el-credit">photo made by <a id="spes_link4"  target="_blank" href="https://www.instagram.com/bethgreen8/">bethgreen8</a></sub></div>
              </div>
            </div>

      </div>
    </div>


{% endblock con %}
