{% extends "layout.html" %}

{% block con%}
    <h1>Contact page</h1>
    <nav class="topnav" id="myTopnav">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('projects')}}">Projects</a>
        <a href="{{url_for('contact')}}" class="active">Contact Me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i></a>
    </nav>

    <div class="container0">
        <form action="" method="POST" class="user-to-me-form">
            {{ form.csrf_token }}
            {{ form.name.label(id='form_labels_name') }}<br>
            {{ form.name(id="form_fields_name")}}<br>

            {{form.title.label(id='form_labels_title')}}<br>
            {{form.title(id="form_fields_title")}}<br>

            {{ form.message.label(id='message_label')}}<br>
            {{ form.message(id='message_field')}}<br>

            <input class='send-btn' type="submit" value="Send">
        </form>
    </div>

{% endblock con%}