{% extends "layout.html" %}

{% block con%}
    <h1>Contact page</h1>
    <nav class="topnav" id="myTopnav">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('projects')}}">Projects</a>
        <a href="{{url_for('contact')}}" class="active">Contact Me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i></a>
    </nav>

    <div class="container0">
        <h1>!Contact page still under development</h1>
    </div>


{% endblock con%}