{% extends "layout.html" %}

{% block con%}
    <h1>Home page</h1>
    <nav class="topnav" id="myTopnav">

        <a href="{{url_for('home')}}" class="active">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('projects')}}">Projects</a>
        <a href="{{url_for('contact')}}">Contact Me</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i></a>
    </nav>

    <div class="container0">

        <p class="text-container">Hello, i am Kenny. I was born  in June 9th 2004<br>
            In my day to day life i do my homework, play video games, i program and in the weekends i watch anime<br>
            My favorite anime series right now would probably be DR.Stone.If you'd ask me what my hobby is, i'd say programming
            <br>I have been programming in Python since March 2019 and i've mastered all the beginner stuff of python<br> I think i can pretty much call myself a Junior Developer
        If you want you can challenge me on <a class="SP_link"  target="_blank" href="https://www.sololearn.com/Profile/14408475/Python">SoloLearn</a>.
            I'd like a challenge<br>

            To contact me, go to my <a class="SP_link"  target="_blank" href="https://discord.gg/CUdNqWT"><b>Discord</b></a>  server or just on the <b>contact</b> me page
            <br>Check out my <a class="SP_link"  target="_blank" href="https://www.youtube.com/channel/UCQKw6eMvGcsKiCQ02eGXl3g?view_as=subscriber">Youtube</a>  channel if your a video gamer and if you want to play video games with me, just join my <a class="SP_link"  target="_blank" href="https://discord.gg/CUdNqWT">Discord</a>
        </p>
    </div>


{% endblock con%}