{% extends "layout.html" %}

{% block con%}
    <div class="topBar">
        <h1>The home page</h1>
        <div class="buttons">
            <form  action="{{url_for('about')}}">
                <button class="Button">About</button>
            </form>
            <form action="{{ url_for('projects')}}">
                <button class="Button">Projects</button>
            </form>
        </div>
    </div>
    <div class="container">
        <h1>!Home Page Still Under Development</h1>
    </div>

{% endblock con%}