{% extends "layout.html" %}

{% block con%}
    <div class="topBar">
        <h1>The home page</h1>
        <div class="buttons">
            <form  action="{{url_for('about')}}">
                <button class="Button">About</button>
            </form>
            <form action="{{ url_for('projects')}}">
                <button class="Button">Projects</button>
            </form>
        </div>
    </div>
    <div class="container">
        <p>This is an web app</p>
        <p>Should be written in choco font</p>
        <p>color text</p>
        <h4>Even This H4 tag</h4>
    </div>

{% endblock con%}